<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <!-- 本仓库 install 统一安装到此目录（勿提交含密码的 server 配置） -->
    <localRepository>/Users/qianhua/workspaces/tools/repository</localRepository>

</settings>
